<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h1 style="color:red">{{username}}</h1>
<p style="color:purple">Welcome {{username}}, {{useremail}} to 3dnames.co</p>